.table {
  margin-top: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
  color: #6a5d5d;
}
.table tr {
  display: flex;
  justify-content: space-between;
}
.table td {
  padding: 0.5rem;
}
.table tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.568);
}
